In [1]:
def append_df_to_excel(filename, df, sheet_name='Sheet1', startrow=None, startcol=None,
                       truncate_sheet=False,
                       **to_excel_kwargs):
    """
    Append a DataFrame [df] to existing Excel file [filename]
    into [sheet_name] Sheet.
    If [filename] doesn't exist, then this function will create it.
  
    Parameters:
      filename : File path or existing ExcelWriter
                 (Example: '/path/to/file.xlsx')
      df : dataframe to save to workbook
      sheet_name : Name of sheet which will contain DataFrame.
                   (default: 'Sheet1')
      startrow : upper left cell row to dump data frame.
                 Per default (startrow=None) calculate the last row
                 in the existing DF and write to the next row...
      truncate_sheet : truncate (remove and recreate) [sheet_name]
                       before writing DataFrame to Excel file
      to_excel_kwargs : arguments which will be passed to `DataFrame.to_excel()`
                        [can be dictionary]
  
    Returns: None
    """
    from openpyxl import load_workbook
  
    # ignore [engine] parameter if it was passed
    if 'engine' in to_excel_kwargs:
        to_excel_kwargs.pop('engine')
  
    writer = pd.ExcelWriter(filename, engine='openpyxl')

    try:
        # try to open an existing workbook
        writer.book = load_workbook(filename)
        
        ws = writer.book.active
  
        # get the last row in the existing Excel sheet
        # if it was not specified explicitly
        if startrow is None and sheet_name in writer.book.sheetnames:
            startrow = writer.book[sheet_name].max_row
  
        # truncate sheet
        if truncate_sheet and sheet_name in writer.book.sheetnames:
            # index of [sheet_name] sheet
            idx = writer.book.sheetnames.index(sheet_name)
            # remove [sheet_name]
            writer.book.remove(writer.book.worksheets[idx])
            # create an empty sheet [sheet_name] using old index
            writer.book.create_sheet(sheet_name, idx)
  
        # copy existing sheets
        writer.sheets = {ws.title:ws for ws in writer.book.worksheets}
    except FileNotFoundError:
        # file does not exist yet, we will create it
        pass
  
    if startrow is None:
        startrow = 0
  
    # write out the new sheet
    df.to_excel(writer, sheet_name, startrow=startrow, startcol=startcol, **to_excel_kwargs)
  
    # наводим красоту

#    CellRange =ws['B7':'M13'] #or currentCell = ws['A1']
#    for cell in CellRange:
#        cell.alignment = Alignment(horizontal='center')
    thin_border = Border(left=Side(style='dashed'), 
                     right=Side(style='dashed'), 
                     top=Side(style='dashed'), 
                     bottom=Side(style='dashed'))

    for row in ws.iter_rows(min_col=1, min_row=8, max_col=147, max_row=len(df)+9):
        for cell in row:
            cell.alignment = Alignment(horizontal='center',wrap_text=True)
            cell.border = thin_border
#            cell['I3'].value = "---"
        
    # save the workbook
    writer.save()



from sqlalchemy import create_engine
from sqlalchemy import insert
from datetime import timedelta
from datetime import datetime
from datetime import date
import pandas as pd
import numpy as np
from pandas import pivot_table
from shutil import copyfile
from openpyxl.styles import Alignment
from openpyxl.styles.borders import Border, Side


date_x = datetime.now()-timedelta(0)                          # Внимание! Проверить смещение!!
#date_x = datetime.now()
#date_x = date(2021, 6, 28)
date_first = date_x - timedelta(42)
date_last = date_x 
date_stfirst = date_x - timedelta(41)
date_stlast = date_x - timedelta(-1)

date_first_w = date_x - timedelta(7)
date_last_w = date_x - timedelta(1)
date_stfirst_w = date_x - timedelta(6)
date_stlast_w = date_x - timedelta(-1)

display('Начинаю работать...')
display("Стартовый день: ")
display(date_x)


engine = create_engine('postgresql://awsuser:67Gh$5aP#@redshift-cluster-1.c9nv0atgk8dm.eu-west-1.redshift.amazonaws.com:5439/adata')

id=engine.execute("INSERT INTO  log (work , datetime, comment) \
                  VALUES ('sixweek',  CURRENT_TIMESTAMP, 'start')")

sql = """
select * from 
(   
    select m.modelname
    , uuid as foto
    , f.firstcolorcode as colorcode
    , m.code as fullmodelcode
    , trim(m.model_id) as model_id
    , group_name as group
    , subgroup_name as subgroup
    , category_name as category
    , subcategory_name as subcategory
    , status
    , m.season
    , c."name" as colorname
    , trim(m.model_id)+';'+c."name" as service
    , min as first_date
    , '1' as cm
    , codes
    from (
        select * from 
        (
        SELECT DISTINCT feature_id FROM public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
        union
        SELECT DISTINCT feature_id FROM stocks where datetime between '""" + date_stfirst.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and quantity <> 0
        ) group by feature_id 
        ) as b
    join features f on b.feature_id = f.feature_id
    join colors c on f.color_id = c.color_id 
    left join persisted_hierarchy ph on f.model_id = ph.model_id
    join models m on f.model_id = m.model_id
    join ( 
            select model_id, color, CAST(listagg(code, ', ') within group (order by code) AS VARCHAR(200)) as codes
            from
            (
            select t1.model_id, t1.code, t2."name" as color from features  as t1 left join colors as t2 on t1.color_id = t2.color_id
            ) group by model_id, color
        ) cc on f.model_id = cc.model_id and c."name" = cc.color
    left join block_first_selling_date bfsd on f.model_id = bfsd.model_id and c."name" = bfsd.color
) where "group" <> '4. Подарочные сертификаты' and "group" <> '5. Тест'
"""

print(sql.replace('\t', ' ').replace('\n', ' '))

df = pd.read_sql_query(sql, engine)

df = df.drop_duplicates(subset=['model_id', 'colorname'], keep='first')

#df = df.sort_values(['group', 'subgroup', 'category', 'subcategory', 'modelname'])
df = df.sort_values(['group', 'subgroup', 'category', 'subcategory', 'modelname', 'colorname'])
#df = df.sort_values(['group', 'subgroup', 'category', 'subcategory'])

df['first_date'] = df['first_date'].astype(str).str[:11]

display('после основного блока')

display(df['first_date'])

display(df)



# display(df)


sql = '''select trim(model_id) as model_id, colorname, "datetime", fotosname from fotos where fotosname IN (select fotosname from fotos f group by fotosname, datetime ORDER BY datetime DESC LIMIT 15)'''

fotos = pd.read_sql_query(sql, engine)

display(sql)

fotos['datetime'] = fotos['datetime'].apply(lambda x: x.strftime('%Y-%m-%d'))

display(fotos)

fotos_pivot = pd.pivot_table(fotos, values='datetime', index=['model_id','colorname'], columns=['fotosname'], aggfunc=np.sum)

fotos_pivot = fotos_pivot.fillna('')

#display(fotos_pivot)

df = df.merge(fotos_pivot, how='left', on=['model_id','colorname'])

df = df.fillna('')

display('после добавления фотос')
display(df)

display(df[df['model_id'] == 'ЦБ-00003300'])



#display(df)

#
#  Выводим данные по 5 неделям
#

sql = """
select trim(model_id) as model_id
, colorname
, coalesce(sum(sales),0)+coalesce(sum(stocks),0) as received
, (coalesce(sum(sales),0)+coalesce(sum(stocks),0))*max(cogs) as received_in_cogs
, sum(sales) as sales
, sum(sales)*max(cogs) as sales_in_cogs
, round(cast(sum(sales) as float)/nullif(sum(sales)+coalesce(sum(stocks),0),0), 2) as realization
, '' as days0
, '' as speed_of_sales
, sum(amount) as amount
, sum(amount) - sum(sales)*max(cogs) as margin
, '' as was_in_sale
, sum(stocks) as stocks
, max(cogs) as cogs
, sum(stocks) * max(cogs) as stock_in_cogs
, round(cast((sum(amount) - sum(sales)*max(cogs)) as float) / nullif((sum(sales)+coalesce(sum(stocks),0))*max(cogs),0), 2) as roa
, '' as roa1
, '' as roa2
from 
(
	select b.feature_id
	, s2.qty as sales
	, amount
	, s3.qty as stocks
	, cogs
	, f.model_id as model_id
	, c."name" as colorname
	from (
	    select * from 
	    (
        SELECT DISTINCT feature_id FROM public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
        union
        SELECT DISTINCT feature_id FROM stocks where datetime between '""" + date_stfirst.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and quantity <> 0
	    ) group by feature_id 
	    ) as b
	left join (select feature_id, sum(quantity) as qty, sum(amount) as amount from public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """' group by feature_id) s2 on b.feature_id = s2.feature_id
	left join ( select feature_id, sum(quantity) as qty from stocks where datetime between '""" + date_x.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true)  and wh_id <> 'ЦБ-000118' and wh_id <> 'ЦБ-000140' and wh_id <> 'ЦБ-000119' group by feature_id ) as s3 on b.feature_id = s3.feature_id
	left join (
                        select t1.feature_id as feature_id, latest_cogs as cogs, provider from (
                        select feature_id, max(amount/qty) as cogs, LISTAGG( distinct provider, ', ') as provider from arrival group by feature_id
                        ) as t1
                        left join 
                        (
                            select feature_id, latest_cogs from 
                            (
                                SELECT "datetime", model_id, feature_id, provider, amount/qty as cogs,    
                                       FIRST_VALUE(cogs) OVER (PARTITION BY feature_id   
                                                                   ORDER BY datetime DESC  
                                                                   ROWS UNBOUNDED PRECEDING  
                                                                  ) AS latest_cogs 
                                FROM ( select *,  amount/qty as cogs from arrival a ) a 
                            ) group by feature_id, latest_cogs
                        ) as t2 on t1.feature_id = t2.feature_id
        ) as am on b.feature_id = am.feature_id
    join features f on b.feature_id = f.feature_id
	join colors c on f.color_id = c.color_id
) group by model_id, colorname
"""


display("запрос на 5 недель")
print(sql.replace('\t', ' ').replace('\n', ' '))

five_weeks = pd.read_sql_query(sql, engine)

five_weeks = five_weeks.fillna('')

display('five_weeks')
display(five_weeks)


df = df.merge(five_weeks, how='left', on=['model_id','colorname'])

display('после добавления 5 недель')
display(df)
display(df[df['model_id'] == '1152122'])


#
#  добавляем дни в продаже за 5 недель и скорость продаж
#


sql = """
select trim(model_id) as model_id, color as colorname, count(dd) as days
	from (
            select dd, model_id, color, sum(qty_st) as qty_st, sum(qty_sa) as qty_sa from 
            (
                select dd as dd, model_id, color, qty_sa, qty_st
                from (
                    select dd, model_id, color, sum(quantity) as qty_st, 0 as qty_sa
                    from (	
                        select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
                        from (
                            select  cast("datetime"-1 as date) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
                            from (
                                select * from public.stocks s where datetime between '""" + date_stfirst.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and wh_id IN (select wh_id from sys_warehouses w2 where "in_sale" = true)
                            ) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
                        ) as t1 left join colors as t2 on t1.color_id = t2.color_id
                    ) group by dd, model_id, color 		
                )  union
                (
                    select dd, model_id, color, 0 as qty_st, sum(quantity) as qty_sa
                    from (	
                        select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
                        from (
                            select  date(t1.datetime) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
                            from (
                                select * from public.sales s where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
                            ) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
                        ) as t1 left join colors as t2 on t1.color_id = t2.color_id
                    ) group by dd, model_id, color
                )
            ) group by model_id, color, dd
	) where ( qty_sa > 0 or qty_st >0) group by model_id, color
"""

print(sql)

was_in_sale = pd.read_sql_query(sql, engine)

was_in_sale = was_in_sale.fillna('')

display('was_in_sale')
display(was_in_sale)

df = df.merge(was_in_sale, how='left', on=['model_id','colorname'])


#df['was_in_sale'] = df['days']                                           #  лишняя строка
df['days0'] = df['days']

#df['sales'] = df['sales'].astype(int)
df['sales'] = pd.to_numeric(df['sales'])
df['speed_of_sales'] = df['sales'] / df['days0']

df['was_in_sale'] = df['days'].apply(lambda x: '0' if x < 1 else '1')

df.drop('days', axis=1, inplace=True)

display('после добавления дней в продаже в 5 неделях')
display(df)



#
#  добавляем количество продаж, дни в продаже за 1 недель и формируем покрытие
#

sql = """
select trim(model_id) as model_id, color as colorname, count(dd1) as days_w, sum(qty2) as sales_w
	from (
		select nvl(t1.dd, t2.dd) as dd1, nvl(t1.model_id, t2.model_id) as model_id, nvl(t1.color, t2.color) as color, 1 as qty, qty2 
		from (
			select dd, model_id, color, sum(quantity) as qty1
			from (	
				select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
				from (
					select  cast("datetime"-1 as date) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
					from (
						select * from public.stocks s where datetime between '""" + date_stfirst_w.strftime("%Y-%m-%d") + """' and '""" + date_stlast_w.strftime("%Y-%m-%d") + """' and wh_id IN (select wh_id from sys_warehouses w2 where "in_sale" = true)
					) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
				) as t1 left join colors as t2 on t1.color_id = t2.color_id
			) group by dd, model_id, color 		
		)  as t1 full outer join
		(
			select dd, model_id, color, sum(quantity) as qty2
			from (	
				select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
				from (
					select  date(t1.datetime) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
					from (
						select * from public.sales s where datetime between '""" + date_first_w.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
					) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
				) as t1 left join colors as t2 on t1.color_id = t2.color_id
			) group by dd, model_id, color 		
		) as t2 on (t1.dd = t2.dd) and (t1.model_id = t2.model_id) and (t1.color = t2.color)
	) where qty > 0 group by model_id, color
"""
print("Запрос на получение данных за неделю:")
print(sql.replace('\t', ' ').replace('\n', ' '))

was_in_sale_w = pd.read_sql_query(sql, engine)

was_in_sale_w = was_in_sale_w.fillna('')

display('was_in_sale_w')
display(was_in_sale_w)


df = df.merge(was_in_sale_w, how='left', on=['model_id','colorname'])

#df['was_in_sale_w'] = df['days_w']

df['sales_w'] = pd.to_numeric(df['sales_w'])
df['speed_of_sales_w'] = df['sales_w'] / df['days_w']
df['stocks'] = pd.to_numeric(df['stocks'])
df['cover_w'] = df['stocks'] / df['speed_of_sales_w']

display('после добавления недели')
display(df)






#
#  Выводим данные по складам
#

#sql = '''
#select model_id, colorname, qty, w."name" as warehouse, s."name" as shop from 
#(
#select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from currentstock c
#join features f on c.feature_id = f.feature_id
#join colors cc on f.color_id = cc.color_id
#group by f.model_id, "name", wh_id
#) as m
#join warehouses w on m.wh_id = w.wh_id
#join shops s on w.shop_id = s.shop_id
#'''

# 		select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from currentstock c

sql = """
select trim(model_id) as model_id, colorname, warehouse, qty from 
(
	select model_id, colorname, w."name" as warehouse, s."name" as shop, qty from 
	(
        select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from ( select * from stocks where datetime between '""" + date_x.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' ) c
		join features f on c.feature_id = f.feature_id
		join colors cc on f.color_id = cc.color_id
		group by f.model_id, "name", wh_id
	) as m
	join warehouses w on m.wh_id = w.wh_id
	join shops s on w.shop_id = s.shop_id
	union
	select model_id,  colorname, shop as warehouse, shop as shop, sum(qty) as qty from 
		(
		select model_id, colorname, qty, w."name" as warehouse, w.wh_id as wh_id, case when w."name" = 'Транзит Москва - Казань (Новый)' then 'Казань, Проспект Победы, 33' when w."name" = 'Подсорт "Wildberries"' then 'Маркетплейсы'  when w."name" = 'Китай (Новый)' then 'Китай'  else s."name" end as shop from
		(
        select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from ( select * from stocks where datetime between '""" + date_x.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true)) c
		join features f on c.feature_id = f.feature_id
		join colors cc on f.color_id = cc.color_id
		group by f.model_id, "name", wh_id
		) as m
		join warehouses w on m.wh_id = w.wh_id
		join shops s on w.shop_id = s.shop_id
		) where wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by model_id,  colorname, shop
	union	
	select model_id,  colorname, 'Итого' as warehouse, '' as shop, sum(qty) as qty from 
		(
		select model_id, colorname, qty, w."name" as warehouse, s."name" as shop, w.wh_id as wh_id from 
		(
        select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from ( select * from stocks where datetime between '""" + date_x.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) and wh_id <> 'ЦБ-000118' and wh_id <> 'ЦБ-000140' and wh_id <> 'ЦБ-000119') c
		join features f on c.feature_id = f.feature_id
		join colors cc on f.color_id = cc.color_id
		group by f.model_id, "name", wh_id
		) as m
		join warehouses w on m.wh_id = w.wh_id
		join shops s on w.shop_id = s.shop_id
		) where wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by model_id,  colorname
) order by shop
"""


print(sql.replace('\t', ' ').replace('\n', ' '))


stocks = pd.read_sql_query(sql, engine)

#display("stocks")
#display(stocks)


stocks_pivot = (stocks.set_index(["model_id", "colorname"])
        .pivot(columns="warehouse")['qty']
        .reset_index()
        .rename_axis(None, axis=1)
     )

stocks_pivot = stocks_pivot.fillna(0)

display("stocks_pivot")
display(stocks_pivot)


stocks_pivot['Спб'] = stocks_pivot['Спб, Фурштатская, 42'] + stocks_pivot['Спб, распред']
stocks_pivot['Маркетплейсы'] = stocks_pivot['Склад (wildberries)'] + stocks_pivot['Подсорт "Wildberries"']

headers = ['model_id','colorname'
, '2_a'           
,'Москва, Долгоруковская, 40.'
, '0_a'                      
, 'Зал (Долгоруковская, 40)'
,'Мск склад Новослободская'
,'Склад "Единички" (Москва, Долгоруковская, 40)'
,'Транзит Москва - Новослободская'
,'Транзит Б.Дорогомиловская - Долгоруковская'
, 'Новая Коллекция (Долгоруковская, 40)'
, '1_a'           
,'Ремонт (Москва, Долгоруковская, 40)'
,'Стирка (Долгоруковская, 40)'
,'Брак (Москва, Долгоруковская, 40)'
, '2_b'                             
,'Москва, Большая Дорогомиловская, д.8'
, '0_b'           
, 'Зал продаж (Большая Дорогомиловская, 8)'
,'Склад (Большая Дорогомиловская, 8)'
,'Склад "Единички" (Большая Дорогомиловская, 8)'
, 'Транзит Москва - Дорогомиловская'
, 'Транзит Долгоруковская - Б.Дорогомиловская'
, 'Новая Коллекция (Большая Дорогомиловская, 8)'
, '1_b'           
,'Ремонт (Большая Дорогомиловская, 8)'
, 'Стирка (Большая Дорогомиловская, 8)'
, 'Брак (Большая Дорогомиловская, 8)'
, '2_c'                             
,'Спб'
, '0_c'
, 'Склад (Спб, распред.)'           
, 'Склад "Нижний" (Спб, Фурштатская, 42)'
,'Транзит Москва - Питер (Спб, распред.)'
, 'Зал продаж (Спб, Фурштатская, 42)'
,'Склад (Спб, Фурштатская, 42)'
,'Склад "Единички" (Спб, Фурштатская, 42)'
,'Транзит Москва - Фурштатская'
,'Транзит Казань - Питер'
,'Склад Новая Коллекция (Спб, Фурштатская, 42)'                             
,'Сезон Хранение (Спб, распред.)'
, '1_c'           
,'Ремонт (Спб, Фурштатская, 42)'
, 'Стирка (Спб, Фурштатская, 42)'                             
, 'Брак (Спб, Фурштатская, 42)'
, '2_d'                             
,'Интернет магазин "Look Online"'
, '0_d'           
,'Склад (Интернет магазин Яковлев)'
,'Транзит Москва - ИМ'
, '1_d'           
, 'Зал продаж (Интернет магазин Яковлев)'           
,'Стирка (Интернет магазин Яковлев)'                             
,'Ремонт (Интернет магазин Яковлев)'
, 'Брак (Интернет магазин Яковлев)'
, '2_e'
,'Основной магазин'
, '0_e'           
,'Мск Склад ответ хранение  (Новый)'
,'Мск Сезонное хранение(Новый)'
,'Транзит Казань - Москва (Новый)'
,'Транзит Питер - Москва'
,'Транзит Новослободская - Москва'
,'Транзит Дорогомиловская - Москва'
,'Транзит ИМ - Москва'
,'Мск Контент склад (Новый)'
,'Фотосессия2'
,'Мск на фотосессии (Новый)'
,'Склад Sale (центральный склад)'
,'Ответ Хран (Нью Лайн)'
,'Склад поступлений (ИП Шестаков)'
,'Склад поступлений (ИП Козлов)'
, '1_e'           
,'Склад списания'
,'Мск Ремонт (Новый)'
,'Мск Брак (Новый)'
,'Товары для Киевской'
,'Товары для Фурштатская'
, '2_f'           
,'Китай'
, '0_f'
,'Казань, Проспект Победы, 33'                             
, '0_g'
, 'Зал продаж (Казань, Проспект Победы, 33)'
,'Зал продаж - обувь (Казань, Проспект Победы, 33)'
,'Склад (Казань, Проспект Победы, 33)'                             
,'Склад Лето Сезон Хран(Казань, Проспект Победы, 33)'
,'Сезонное хранение (Казань, Проспект Победы, 33)'
,'Склад "Единички" (Казань, Проспект Победы, 33)'
,'Транзит Москва - Казань (Новый)'
,'Транзит Питер - Казань'       
,'Новая Коллекция (Казань, Проспект Победы, 33)'
,'Склад Sale (Казань, Проспект Победы, 33)'
, '1_g'           
,'Транзит Брак Москва - Казань'           
,'Уценка (Казань, Проспект Победы, 33)'
,'Стирка (Казань, Проспект Победы, 33)'                             
,'Ремонт (Казань, Проспект Победы, 33)'                             
, '2_h'                             
,'Казань, Декабристов, 8'
, '0_h'           
, 'Зал продаж (Казань, Декабристов, 8)'
,'Зал продаж - обувь (Казань, Декабристов, 8)'
,'Сезонное хранение (Казань, Декабристов, 8)'                             
,'Склад (Казань, Декабристов, 8)'
,'Склад Лето Сезон Хран(Казань, Декабристов, 8)'
,'Новая Коллекция (Казань, Декабристов, 8)'
,'Склад "Единички" (Казань, Декабристов, 8)'
, '1_h'           
,'Ремонт (Казань, Декабристов, 8)'
, '2_i'                  
,'Маркетплейсы'
, '0_i'
,'Склад (wildberries)'
,'Подсорт "Wildberries"'
, '1_i'           
,'Итого'
]

for h in headers:
    if h not in stocks_pivot:
        stocks_pivot[h] = 0


stocks_pivot = stocks_pivot[headers].fillna(0)

df = df.merge(stocks_pivot, how='left', on=['model_id','colorname']).fillna(0)

df = df.fillna('')

display(df)

#
#  Выводим блок Ценообразование
#

sql = """
select trim(model_id) as model_id
, colorname
, max(firstprice) as firstprice
, max(firstadd) as firstadd
, max(cogs) as cogs
, max(sal) as sal
, max(addsal) as addsale
, max(sale) as sale
, max(curadd) as curadd
, max(currentpr) as currentpr
, provider
from
	(
		select firstprice
		, round(cast(firstprice as float) / nullif(cogs,0),2) - 1 as firstadd
		, cogs
		, round(cast(nvl(new_price,nvl(new_price,p.price)) as float) / nullif(firstprice,0) - 1,2) as sal
		, round(((cast(sa.amount as float)/ (nullif(sa.qty,0)*p.price))-1)*100,0)/100 as addsal		
        , CASE WHEN new_price <> 0 THEN 1 ELSE 0 END AS sale    
		, round(cast(nvl(new_price,p.price) as float) / nullif(cogs,0),2) - 1  as curadd
		, nvl(new_price,p.price) as currentpr
		, f.model_id as model_id
		, "name" as colorname
        , provider
		from currentprice c 
		join features f on c.feature_id = f.feature_id 
		join colors c2 on f.color_id = c2.color_id 
		left join (
				select * from discounts d where '""" + date_x.strftime("%Y-%m-%d") + """' >= timefrom and '""" + date_x.strftime("%Y-%m-%d") + """' < timeto
			) as a on a.model_id = f.model_id and c2."name" = a.colorname
		left join (
                        select t1.feature_id as feature_id, latest_cogs as cogs, provider from (
                        select feature_id, max(amount/qty) as cogs, LISTAGG( distinct provider, ', ') as provider from arrival group by feature_id
                        ) as t1
                        left join 
                        (
                            select feature_id, latest_cogs from 
                            (
                                SELECT "datetime", model_id, feature_id, provider, amount/qty as cogs,    
                                       FIRST_VALUE(cogs) OVER (PARTITION BY feature_id   
                                                                   ORDER BY datetime DESC  
                                                                   ROWS UNBOUNDED PRECEDING  
                                                                  ) AS latest_cogs 
                                FROM ( select *,  amount/qty as cogs from arrival a ) a 
                            ) group by feature_id, latest_cogs
                        ) as t2 on t1.feature_id = t2.feature_id
        ) as am on f.feature_id = am.feature_id
        left join (select feature_id, sum(quantity) as qty, sum(amount) as amount from public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_last.strftime("%Y-%m-%d") + """' group by feature_id) sa on f.feature_id = sa.feature_id
        left join (select * from prices where datetime > '""" + date_x.strftime("%Y-%m-%d") + """') as p on  p.feature_id = f.feature_id 
) where provider <> '' group by model_id, colorname, provider
"""

print(sql.replace('\t', ' ').replace('\n', ' '))

prices = pd.read_sql_query(sql, engine)

prices = prices.fillna('')

display("prices")
display(prices)

df = df.merge(prices, how='left', on=['model_id','colorname'])

df = df.fillna('')

display(df)

#copyfile('Выходные данные\\Шаблон.xlsx', 'Выходные данные\\'+date_x.strftime("%Y-%m-%d")+'.xlsx')

#append_df_to_excel('Выходные данные\\'+date_x.strftime("%Y-%m-%d")+'.xlsx', df, sheet_name='Отчет', index=False, startrow=8, startcol=0, header=True)

# df.to_csv(date_x.strftime("%Y-%m-%d")+'.csv', index=False)

display("OK")

# сохраняем данные в выделенную таблицу в базе, предварительно удалив ее

#display(df)

#engine_test = create_engine('postgresql://awsuser:67Gh$5aP#@redshift-cluster-1.c9nv0atgk8dm.eu-west-1.redshift.amazonaws.com:5439/test')

columns =  df.columns.values.tolist()

for index, i in enumerate(columns):
        columns[index] = i.replace('(', '').replace(')', '')

df.columns = columns        

df1 = df.copy(deep=True)

#display(df)

df1.insert(0, "subcategory1", df1["subcategory"])
df1.insert(0, "category1", df1["category"])
df1.insert(0, "subgroup1", df1["subgroup"])
df1.insert(0, "group1", df1["group"])

df1 = df1.drop('subcategory', 1)
df1 = df1.drop('category', 1)
df1 = df1.drop('subgroup', 1)
df1 = df1.drop('group', 1)

df1.insert(7, "colorname1", df1["colorname"])
df1 = df1.drop('colorname', 1)
df1.insert(10, "subcategory", df1["subcategory1"])
df1.insert(11, "category", df1["category1"])
df1.insert(12, "subgroup", df1["subgroup1"])
df1.insert(13, "group", df1["group1"])

df1.insert(17, "provider1", df1["provider"])


df1['index'] = df1.index

bias = 2

#df1['roa1'] = df1['index'] + bias
#df1['roa2'] = '=IF(AS' + df1['index'] +'=0;"не было продаж";IFERROR(AS' + df1['index'] +'/VLOOKUP($J' + df1['index'] +';$A:$AU;COLUMN(AS' + df1['index'] +');0)-1;0))'
#df1['roa1-2'] = '=IF(AS13=0,"не было продаж",IF($A13="Итого",0,IF($A13=$FF13,IFERROR(AS13/VLOOKUP("Итого",$A:$AU,COLUMN(AS13),0)-1,0),IFERROR(AS13/VLOOKUP($FF13,$A:$AU,COLUMN(AS13),0)-1,0))))'
#df1['roa1-2'] = '=IF(AS' + (df1['index']+bias).astype('str') +'=0,"не было продаж",IFERROR(AS' + (df1['index']+bias).astype('str') +'/VLOOKUP($J' + (df1['index']+bias).astype('str') +',$A:$AU,COLUMN(AS' + (df1['index']+bias).astype('str') +'),0)-1,0))'
#df1['roa2-2'] = '=ЕСЛИ(AS13=0;0;1)'

#df1['roa2'] = df1['new2']

display(df1)        
# записываем новую таблицу,

columns =  df1.columns.values.tolist()
display(columns)

df1[["sales", "received", "received_in_cogs", "sales_in_cogs", "realization", "days0", "speed_of_sales", "amount", "margin", "was_in_sale", "stocks", "stock_in_cogs", "roa", "roa1", "roa2", "days_w", "sales_w", "speed_of_sales_w", "cover_w", "firstprice", "firstadd", "cogs_y", "sal", "addsale", "sale", "curadd", "currentpr"]] = df1[["sales", "received", "received_in_cogs", "sales_in_cogs", "realization", "days0", "speed_of_sales", "amount", "margin", "was_in_sale", "stocks", "stock_in_cogs", "roa", "roa1", "roa2", "days_w", "sales_w", "speed_of_sales_w", "cover_w", "firstprice", "firstadd", "cogs_y", "sal", "addsale", "sale", "curadd", "currentpr"]].apply(pd.to_numeric)
#df1[[headers_s]] = df1[[headers_s]].apply(pd.to_numeric)

df1 = df1.rename(columns={"foto": "Картинка"
                          , "colorcode": "Код цвета",
                        "colorname1": "Цвет",
                        "group": "Группа",
                        "subgroup": "Подгруппа",
                        "category": "Категория",
                        "subcategory": "Подкатегория",
                        "fullmodelcode": "Полный код",
                        "model_id": "Код",
                        "service": "Служебный",
                        "status": "Статус",
                        "season": "Сезон",
                        "provider1": "Поставщик",  
                        "first_date": "Дата входа",
                        "cm": "ЦМ",
                        "codes": "ЦРМ в ЦМ",
                        "received": "Получено, шт",
                        "received_in_cogs": "Получено, себ",
                        "sales": "Продажи, шт",
                        "sales_in_cogs": "Продажи, себ.",
                        "realization": "Процент  реализации",
                        "days0": "Кол-во дней в продаже",
                        "speed_of_sales": "Скорость продаж",
                        "amount": "Выручка, руб",
                        "margin": "Маржа, руб",
                        "was_in_sale": "Был в продаже",
                        "stocks": "Остаток, шт",
                        "stock_in_cogs": "Остаток, себ",
                        "roa": "ROA",
                        "roa1": "Товара в целом",
                        "roa2": "Категории",
                        "days_w": "Дней в продаже за неделю",
                        "sales_w": "Продаж в неделю",
                        "speed_of_sales_w": "Скорость продаж в неделю",
                        "cover_w": "Покрытие",
                        "firstprice": "Первоначальная РЦ",
                        "firstadd": "Первоначальная наценка",
                        "cogs_y": "Себестоимость",
                        "sal": "Скидка",
                        "addsale": "Скидка накопленная",
                        "sale": "sale",
                        "curadd": "Текущая наценка в процентах",
                        "currentpr": "Текущая РЦ"  
                       }, errors='ignore')

display(df1)

columns =  df1.columns.values.tolist()
display(columns)

df1 = df1.fillna(0)

#df1.replace(,0)

display(df1['Продажи, шт'].head(100))


df1.to_sql('sixweek',engine, if_exists='replace', index=False, method='multi')


# ----------------- 
#  запись в лог информации о завершении процесса
# -----------------

id=engine.execute("INSERT INTO  log (work , datetime, comment) \
                  VALUES ('sixweek',  CURRENT_TIMESTAMP, 'finish')")
display("OK")

'Начинаю работать...'

'Стартовый день: '

datetime.datetime(2021, 10, 14, 9, 38, 1, 792807)

 select * from  (        select m.modelname     , uuid as foto     , f.firstcolorcode as colorcode     , m.code as fullmodelcode     , trim(m.model_id) as model_id     , group_name as group     , subgroup_name as subgroup     , category_name as category     , subcategory_name as subcategory     , status     , m.season     , c."name" as colorname     , trim(m.model_id)+';'+c."name" as service     , min as first_date     , '1' as cm     , codes     from (         select * from          (         SELECT DISTINCT feature_id FROM public.sales where datetime between '2021-09-02' and '2021-10-14'         union         SELECT DISTINCT feature_id FROM stocks where datetime between '2021-09-03' and '2021-10-15' and quantity <> 0         ) group by feature_id          ) as b     join features f on b.feature_id = f.feature_id     join colors c on f.color_id = c.color_id      left join persisted_hierarchy ph on f.model_id = ph.model_id     join models m on f.model_id = m.model_id     join (              select model_id, color, CAST(listagg(code, ', ') within group (order by code) AS VARCHAR(200)) as codes             from             (             select t1.model_id, t1.code, t2."name" as color from features  as t1 left join colors as t2 on t1.color_id = t2.color_id             ) group by model_id, color         ) cc on f.model_id = cc.model_id and c."name" = cc.color     left join block_first_selling_date bfsd on f.model_id = bfsd.model_id and c."name" = bfsd.color ) where "group" <> '4. Подарочные сертификаты' and "group" <> '5. Тест'

'после основного блока'

1393    2020-07-03
2013    2021-04-02
3055    2021-04-02
242     2020-12-15
1163    2021-08-03
           ...
1814    2021-10-11
801     2021-10-11
217     2021-10-11
1843            NaT
1817            NaT
Name: first_date, Length: 2290, dtype: object

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,season,colorname,service,first_date,cm,codes
1393,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,None,Белый,ЦБ-00001420;Белый,2020-07-03,1,"24299, 24300, 24301"
2013,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,None,Бежевый,ЦБ-00002379;Бежевый,2021-04-02,1,"26879, 26880, 26881"
3055,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,None,Черный,ЦБ-00002379;Черный,2021-04-02,1,"26882, 26883, 26884"
242,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,None,Серый,ЦБ-00002162;Серый,2020-12-15,1,"26335, 26336, 26337"
1163,Брюки на защипах 2,51e1fca7-dfc4-11eb-9112-7085c281e0ea,800,1WPT/008662,ЦБ-00003138,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_060,None,Коричневый,ЦБ-00003138;Коричневый,2021-08-03,1,"29407, 29408, 29409"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1814,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,None,Светло-бежевый,ЦБ-00003458;Светло-бежевый,2021-10-11,1,30533
801,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,None,Серый,ЦБ-00003458;Серый,2021-10-11,1,30535
217,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,None,Темно-серый,ЦБ-00003458;Темно-серый,2021-10-11,1,30540
1843,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,None,Белый,ЦБ-00003503;Белый,NaT,1,30675
1817,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,None,Черный,ЦБ-00003503;Черный,NaT,1,30676

'select trim(model_id) as model_id, colorname, "datetime", fotosname from fotos where fotosname IN (select fotosname from fotos f group by fotosname, datetime ORDER BY datetime DESC LIMIT 15)'

        model_id    colorname    datetime         fotosname
0    ЦБ-00002414       Черный  2021-08-27  Фотосессия 21-66
1    ЦБ-00002448       Черный  2021-08-27  Фотосессия 21-66
2    ЦБ-00002452       Черный  2021-08-27  Фотосессия 21-66
3    ЦБ-00002453        Белый  2021-08-27  Фотосессия 21-66
4    ЦБ-00002580     Молочный  2021-08-27  Фотосессия 21-66
..           ...          ...         ...               ...
714  ЦБ-00003474  Темно-серый  2021-10-15  Фотосессия 21-80
715  ЦБ-00003475       Мятный  2021-10-15  Фотосессия 21-80
716  ЦБ-00003478        Серый  2021-10-15  Фотосессия 21-80
717  ЦБ-00003482       Черный  2021-10-15  Фотосессия 21-80
718  ЦБ-00003489       Черный  2021-10-15  Фотосессия 21-80

[719 rows x 4 columns]

'после добавления фотос'

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,Фотосессия 21-71,Фотосессия 21-72,Фотосессия 21-73,Фотосессия 21-74,Фотосессия 21-75,Фотосессия 21-76,Фотосессия 21-77,Фотосессия 21-78,Фотосессия 21-79,Фотосессия 21-80
0,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,,,,,,,,,,
1,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,...,,,,,,,,,2021-10-12,
2,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,...,,,,,,,,,,2021-10-15
3,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,...,,,,,,,,,,
4,Брюки на защипах 2,51e1fca7-dfc4-11eb-9112-7085c281e0ea,800,1WPT/008662,ЦБ-00003138,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_060,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,,,,,,,,,2021-10-12,
2286,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,,,,,,,,,2021-10-12,
2287,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,,,,,,,,,2021-10-12,
2288,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,,,,,,,,,,
2289,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,,,,,,,,,,

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,Фотосессия 21-71,Фотосессия 21-72,Фотосессия 21-73,Фотосессия 21-74,Фотосессия 21-75,Фотосессия 21-76,Фотосессия 21-77,Фотосессия 21-78,Фотосессия 21-79,Фотосессия 21-80
95,Брюки трикотажные в рубчик,990cd4a2-fead-11eb-9115-7085c281e0ea,170,1WPC/008824,ЦБ-00003300,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.2 Брюки casual,Фотосессия 21_071,...,2021-09-14,,,,,,,,,
96,Брюки трикотажные в рубчик,990cd4a2-fead-11eb-9115-7085c281e0ea,999,1WPC/008824,ЦБ-00003300,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.2 Брюки casual,Фотосессия 21_071,...,2021-09-14,,,,,,,,,

'запрос на 5 недель'

 select trim(model_id) as model_id , colorname , coalesce(sum(sales),0)+coalesce(sum(stocks),0) as received , (coalesce(sum(sales),0)+coalesce(sum(stocks),0))*max(cogs) as received_in_cogs , sum(sales) as sales , sum(sales)*max(cogs) as sales_in_cogs , round(cast(sum(sales) as float)/nullif(sum(sales)+coalesce(sum(stocks),0),0), 2) as realization , '' as days0 , '' as speed_of_sales , sum(amount) as amount , sum(amount) - sum(sales)*max(cogs) as margin , '' as was_in_sale , sum(stocks) as stocks , max(cogs) as cogs , sum(stocks) * max(cogs) as stock_in_cogs , round(cast((sum(amount) - sum(sales)*max(cogs)) as float) / nullif((sum(sales)+coalesce(sum(stocks),0))*max(cogs),0), 2) as roa , '' as roa1 , '' as roa2 from  (  select b.feature_id  , s2.qty as sales  , amount  , s3.qty as stocks  , cogs  , f.model_id as model_id  , c."name" as colorname  from (      select * from       (         SELECT DISTINCT feature_id FROM public.sales where datetime between '2021-09-02' and '2021-10-14'         union         SELECT DISTINCT feature_id FROM stocks where datetime between '2021-09-03' and '2021-10-15' and quantity <> 0      ) group by feature_id       ) as b  left join (select feature_id, sum(quantity) as qty, sum(amount) as amount from public.sales where datetime between '2021-09-02' and '2021-10-14' group by feature_id) s2 on b.feature_id = s2.feature_id  left join ( select feature_id, sum(quantity) as qty from stocks where datetime between '2021-10-14' and '2021-10-15' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true)  and wh_id <> 'ЦБ-000118' and wh_id <> 'ЦБ-000140' and wh_id <> 'ЦБ-000119' group by feature_id ) as s3 on b.feature_id = s3.feature_id  left join (                         select t1.feature_id as feature_id, latest_cogs as cogs, provider from (                         select feature_id, max(amount/qty) as cogs, LISTAGG( distinct provider, ', ') as provider from arrival group by feature_id                         ) as t1                         left join                          (                             select feature_id, latest_cogs from                              (                                 SELECT "datetime", model_id, feature_id, provider, amount/qty as cogs,                                            FIRST_VALUE(cogs) OVER (PARTITION BY feature_id                                                                       ORDER BY datetime DESC                                                                      ROWS UNBOUNDED PRECEDING                                                                     ) AS latest_cogs                                  FROM ( select *,  amount/qty as cogs from arrival a ) a                              ) group by feature_id, latest_cogs                         ) as t2 on t1.feature_id = t2.feature_id         ) as am on b.feature_id = am.feature_id     join features f on b.feature_id = f.feature_id  join colors c on f.color_id = c.color_id ) group by model_id, colorname

'five_weeks'

,model_id,colorname,received,received_in_cogs,sales,sales_in_cogs,realization,days0,speed_of_sales,amount,margin,was_in_sale,stocks,cogs,stock_in_cogs,roa,roa1,roa2
0,1152096,Черный,0,0,,,,,,,,,,420,,,,
1,1152151,Серый,1,630,,,,,,,,,1,630,630,,,
2,1151794,Черный,0,0,,,,,,,,,,165,,,,
3,1152023,Красный,0,0,,,,,,,,,,370,,,,
4,1152041,Бордовый,0,0,,,,,,,,,,290,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313,ЦБ-00003506,Зеленый,298,174926,,,,,,,,,298,587,174926,,,
2314,ЦБ-00003507,Белый,260,151840,,,,,,,,,260,584,151840,,,
2315,ЦБ-00003521,Молочный,30,42270,,,,,,,,,30,1409,42270,,,
2316,ЦБ-00000723,Серый,10,,,,,,,,,,10,,,,,
2317,10107,НеУстановлен,8,,,,,,,,,,8,,,,,

'после добавления 5 недель'

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,speed_of_sales,amount,margin,was_in_sale,stocks,cogs,stock_in_cogs,roa,roa1,roa2
0,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,,,,,,520,,,,
1,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,...,,9870,6534,,308,1112,342496,0.02,,
2,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,...,,,,,306,1112,340272,,,
3,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,...,,,,,,770,,,,
4,Брюки на защипах 2,51e1fca7-dfc4-11eb-9112-7085c281e0ea,800,1WPT/008662,ЦБ-00003138,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_060,...,,24873,10518,,4,957,3828,0.58,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,,8874,5343,,49,107,5243,0.61,,
2286,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,,5452,3312,,182,107,19474,0.15,,
2287,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,,6728,3946,,125,107,13375,0.24,,
2288,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,,,,,150,85,12750,,,
2289,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,,,,,150,85,12750,,,

Empty DataFrame
Columns: [modelname, foto, colorcode, fullmodelcode, model_id, group, subgroup, category, subcategory, status, season, colorname, service, first_date, cm, codes, Фотосессия 21-66, Фотосессия 21-67, Фотосессия 21-68, Фотосессия 21-69, Фотосессия 21-70, Фотосессия 21-71, Фотосессия 21-72, Фотосессия 21-73, Фотосессия 21-74, Фотосессия 21-75, Фотосессия 21-76, Фотосессия 21-77, Фотосессия 21-78, Фотосессия 21-79, Фотосессия 21-80, received, received_in_cogs, sales, sales_in_cogs, realization, days0, speed_of_sales, amount, margin, was_in_sale, stocks, cogs, stock_in_cogs, roa, roa1, roa2]
Index: []

[0 rows x 47 columns]

select trim(model_id) as model_id, color as colorname, count(dd) as days
	from (
            select dd, model_id, color, sum(qty_st) as qty_st, sum(qty_sa) as qty_sa from
            (
                select dd as dd, model_id, color, qty_sa, qty_st
                from (
                    select dd, model_id, color, sum(quantity) as qty_st, 0 as qty_sa
                    from (
                        select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
                        from (
                            select  cast("datetime"-1 as date) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
                            from (
                                select * from public.stocks s where datetime between '2021-09-03' and '2021-10-15' and wh_id IN (select wh_id from sys_warehouses w2 where "in_sale" = true)
                            ) as t1 left join features as t2 on t1.feature_id = t2.feature_id
                        ) as t1 left join colors as t2 on t1.color_id = t2.color_id
                    ) group by dd, model_id, color
                )  union
                (
                    select dd, model_id, color, 0 as qty_st, sum(quantity) as qty_sa
                    from (
                        select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
                        from (
                            select  date(t1.datetime) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
                            from (
                                select * from public.sales s where datetime between '2021-09-02' and '2021-10-14'
                            ) as t1 left join features as t2 on t1.feature_id = t2.feature_id
                        ) as t1 left join colors as t2 on t1.color_id = t2.color_id
                    ) group by dd, model_id, color
                )
            ) group by model_id, color, dd
	) where ( qty_sa > 0 or qty_st >0) group by model_id, color

'was_in_sale'

         model_id   colorname  days
0     ЦБ-00002264      Черный    40
1     ЦБ-00002357      Черный    37
2     ЦБ-00002414      Черный    42
3     ЦБ-00002656     Золотой    42
4     ЦБ-00002769     Золотой    42
...           ...         ...   ...
1262  ЦБ-00002078       Серый     2
1263  ЦБ-00002698      Желтый     2
1264  ЦБ-00002625       Белый     1
1265  ЦБ-00002418     Бежевый     1
1266  ЦБ-00002969  Коричневый     1

[1267 rows x 3 columns]

'после добавления дней в продаже в 5 неделях'

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,speed_of_sales,amount,margin,was_in_sale,stocks,cogs,stock_in_cogs,roa,roa1,roa2
0,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,NaN,,,1,,520,,,,
1,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,...,1.000000,9870,6534,1,308,1112,342496,0.02,,
2,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,...,NaN,,,1,306,1112,340272,,,
3,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,...,NaN,,,1,,770,,,,
4,Брюки на защипах 2,51e1fca7-dfc4-11eb-9112-7085c281e0ea,800,1WPT/008662,ЦБ-00003138,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_060,...,0.357143,24873,10518,1,4,957,3828,0.58,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,11.000000,8874,5343,1,49,107,5243,0.61,,
2286,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,6.666667,5452,3312,1,182,107,19474,0.15,,
2287,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,8.666667,6728,3946,1,125,107,13375,0.24,,
2288,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,NaN,,,1,150,85,12750,,,
2289,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,NaN,,,1,150,85,12750,,,

Запрос на получение данных за неделю:
 select trim(model_id) as model_id, color as colorname, count(dd1) as days_w, sum(qty2) as sales_w  from (   select nvl(t1.dd, t2.dd) as dd1, nvl(t1.model_id, t2.model_id) as model_id, nvl(t1.color, t2.color) as color, 1 as qty, qty2    from (    select dd, model_id, color, sum(quantity) as qty1    from (      select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color     from (      select  cast("datetime"-1 as date) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id      from (       select * from public.stocks s where datetime between '2021-10-08' and '2021-10-15' and wh_id IN (select wh_id from sys_warehouses w2 where "in_sale" = true)      ) as t1 left join features as t2 on t1.feature_id = t2.feature_id      ) as t1 left join colors as t2 on t1.color_id = t2.color_id    ) group by dd, model_id, color      )  as t1 full outer join   (    select dd, model_id, color, sum(quantity) as qty2    from (      select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color     from (      select  date(t1.datetime) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id      from (       select * from public.sales s where datetime between '2021-10-07' and '2021-10-14'      ) as t1 left join features as t2 on t1.feature_id = t2.feature_id      ) as t1 left join colors as t2 on t1.color_id = t2.color_id    ) group by dd, model_id, color      ) as t2 on (t1.dd = t2.dd) and (t1.model_id = t2.model_id) and (t1.color = t2.color)  ) where qty > 0 group by model_id, color

'was_in_sale_w'

        model_id colorname  days_w sales_w
0        1152291                 7
1    ЦБ-00002531   Голубой       7      21
2    ЦБ-00002612    Черный       7      20
3    ЦБ-00002659    Черный       7
4    ЦБ-00002769   Золотой       7       4
..           ...       ...     ...     ...
910  ЦБ-00001837   Голубой       1       1
911  ЦБ-00002909     Синий       1       1
912  ЦБ-00003139    Черный       1       1
913  ЦБ-00003275     Белый       1       1
914  ЦБ-00002709    Мятный       1       1

[915 rows x 4 columns]

'после добавления недели'

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,stocks,cogs,stock_in_cogs,roa,roa1,roa2,days_w,sales_w,speed_of_sales_w,cover_w
0,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,NaN,520,,,,,NaN,NaN,NaN,NaN
1,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,...,308.0,1112,342496,0.02,,,3.0,3.0,1.000000,308.000000
2,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,...,306.0,1112,340272,,,,NaN,NaN,NaN,NaN
3,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,...,NaN,770,,,,,NaN,NaN,NaN,NaN
4,Брюки на защипах 2,51e1fca7-dfc4-11eb-9112-7085c281e0ea,800,1WPT/008662,ЦБ-00003138,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_060,...,4.0,957,3828,0.58,,,7.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,49.0,107,5243,0.61,,,3.0,33.0,11.000000,4.454545
2286,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,182.0,107,19474,0.15,,,3.0,20.0,6.666667,27.300000
2287,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,125.0,107,13375,0.24,,,3.0,26.0,8.666667,14.423077
2288,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,150.0,85,12750,,,,NaN,NaN,NaN,NaN
2289,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,150.0,85,12750,,,,NaN,NaN,NaN,NaN

 select trim(model_id) as model_id, colorname, warehouse, qty from  (  select model_id, colorname, w."name" as warehouse, s."name" as shop, qty from   (         select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from ( select * from stocks where datetime between '2021-10-14' and '2021-10-15' ) c   join features f on c.feature_id = f.feature_id   join colors cc on f.color_id = cc.color_id   group by f.model_id, "name", wh_id  ) as m  join warehouses w on m.wh_id = w.wh_id  join shops s on w.shop_id = s.shop_id  union  select model_id,  colorname, shop as warehouse, shop as shop, sum(qty) as qty from    (   select model_id, colorname, qty, w."name" as warehouse, w.wh_id as wh_id, case when w."name" = 'Транзит Москва - Казань (Новый)' then 'Казань, Проспект Победы, 33' when w."name" = 'Подсорт "Wildberries"' then 'Маркетплейсы'  when w."name" = 'Китай (Новый)' then 'Китай'  else s."name" end as shop from   (         select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from ( select * from stocks where datetime between '2021-10-14' and '2021-10-15' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true)) c   join features f on c.feature_id = f.feature_id   join colors cc on f.color_id = cc.color_id   group by f.model_id, "name", wh_id   ) as m   join warehouses w on m.wh_id = w.wh_id   join shops s on w.shop_id = s.shop_id   ) where wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by model_id,  colorname, shop  union   select model_id,  colorname, 'Итого' as warehouse, '' as shop, sum(qty) as qty from    (   select model_id, colorname, qty, w."name" as warehouse, s."name" as shop, w.wh_id as wh_id from    (         select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from ( select * from stocks where datetime between '2021-10-14' and '2021-10-15' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) and wh_id <> 'ЦБ-000118' and wh_id <> 'ЦБ-000140' and wh_id <> 'ЦБ-000119') c   join features f on c.feature_id = f.feature_id   join colors cc on f.color_id = cc.color_id   group by f.model_id, "name", wh_id   ) as m   join warehouses w on m.wh_id = w.wh_id   join shops s on w.shop_id = s.shop_id   ) where wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by model_id,  colorname ) order by shop

'stocks_pivot'

,model_id,colorname,"Брак (Большая Дорогомиловская, 8)",Брак (Интернет магазин Яковлев),"Брак (Москва, Долгоруковская, 40)","Брак (Спб, Фурштатская, 42)","Зал (Долгоруковская, 40)","Зал продаж (Большая Дорогомиловская, 8)",Зал продаж (Интернет магазин Яковлев),"Зал продаж (Казань, Декабристов, 8)",...,Транзит Казань - Питер,Транзит Москва - Дорогомиловская,Транзит Москва - ИМ,Транзит Москва - Казань (Новый),Транзит Москва - Новослободская,"Транзит Москва - Питер (Спб, распред.)",Транзит Новослободская - Москва,Транзит Питер - Москва,"Уценка (Казань, Проспект Победы, 33)",списание
0,00700,Серебряный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01527,Черный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01528,Серебряный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09095,Джинса,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10106,НеУстановлен,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,ЦБ-00003531,Серый,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2212,ЦБ-00003531,Черный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2213,ЦБ-00003532,Молочный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2214,ЦБ-00003532,Черный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2215,ЦБ-00003533,Черный,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,"Склад ""Единички"" (Казань, Декабристов, 8)",1_h,"Ремонт (Казань, Декабристов, 8)",2_i,Маркетплейсы,0_i,Склад (wildberries),"Подсорт ""Wildberries""",1_i,Итого
0,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,0.0,0.0,0.0,0.0,31.0,0.0,31.0,0.0,0.0,0.0
1,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,308.0
2,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,306.0
3,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,...,0.0,0.0,0.0,0.0,33.0,0.0,33.0,0.0,0.0,0.0
4,Брюки на защипах 2,51e1fca7-dfc4-11eb-9112-7085c281e0ea,800,1WPT/008662,ЦБ-00003138,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_060,...,0.0,0.0,0.0,0.0,46.0,0.0,0.0,46.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0
2286,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,182.0
2287,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125.0
2288,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
2289,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0

 select trim(model_id) as model_id , colorname , max(firstprice) as firstprice , max(firstadd) as firstadd , max(cogs) as cogs , max(sal) as sal , max(addsal) as addsale , max(sale) as sale , max(curadd) as curadd , max(currentpr) as currentpr , provider from  (   select firstprice   , round(cast(firstprice as float) / nullif(cogs,0),2) - 1 as firstadd   , cogs   , round(cast(nvl(new_price,nvl(new_price,p.price)) as float) / nullif(firstprice,0) - 1,2) as sal   , round(((cast(sa.amount as float)/ (nullif(sa.qty,0)*p.price))-1)*100,0)/100 as addsal           , CASE WHEN new_price <> 0 THEN 1 ELSE 0 END AS sale       , round(cast(nvl(new_price,p.price) as float) / nullif(cogs,0),2) - 1  as curadd   , nvl(new_price,p.price) as currentpr   , f.model_id as model_id   , "name" as colorname         , provider   from currentprice c    join features f on c.feature_id = f.feature_id    join colors c2 on f.color_id = c2.color_id    left join (     select * from discounts d where '2021-10-14' >= timefrom and '2021-10-14' < timeto    ) as a on a.model_id = f.model_id and c2."name" = a.colorname   left join (                         select t1.feature_id as feature_id, latest_cogs as cogs, provider from (                         select feature_id, max(amount/qty) as cogs, LISTAGG( distinct provider, ', ') as provider from arrival group by feature_id                         ) as t1                         left join                          (                             select feature_id, latest_cogs from                              (                                 SELECT "datetime", model_id, feature_id, provider, amount/qty as cogs,                                            FIRST_VALUE(cogs) OVER (PARTITION BY feature_id                                                                       ORDER BY datetime DESC                                                                      ROWS UNBOUNDED PRECEDING                                                                     ) AS latest_cogs                                  FROM ( select *,  amount/qty as cogs from arrival a ) a                              ) group by feature_id, latest_cogs                         ) as t2 on t1.feature_id = t2.feature_id         ) as am on f.feature_id = am.feature_id         left join (select feature_id, sum(quantity) as qty, sum(amount) as amount from public.sales where datetime between '2021-09-02' and '2021-10-14' group by feature_id) sa on f.feature_id = sa.feature_id         left join (select * from prices where datetime > '2021-10-14') as p on  p.feature_id = f.feature_id  ) where provider <> '' group by model_id, colorname, provider

'prices'

,model_id,colorname,firstprice,firstadd,cogs,sal,addsale,sale,curadd,currentpr,provider
0,ЦБ-00003533,Черный,0,-1.00,700,,,0,,,ОсОО «Саби Фейшн»
1,ЦБ-00003530,Черный,0,-1.00,700,,,0,,,ОсОО «Саби Фейшн»
2,ЦБ-00003528,Коричневый,0,-1.00,1424,,,0,,,Баярма
3,ЦБ-00003526,Розовый,0,-1.00,855,,,0,,,Баярма
4,ЦБ-00003524,Бежевый,0,-1.00,657,,,0,,,Баярма
...,...,...,...,...,...,...,...,...,...,...,...
10910,00029,Бордо,1650,1.54,650,0,,0,1.54,1650,"ООО ""Поставщик"""
10911,00005,Голубой,2190,1.74,800,0,,0,1.74,2190,"ООО ""Поставщик"""
10912,00005,Мята,2190,1.43,900,0,,0,1.43,2190,"ООО ""Поставщик"""
10913,00005,Розовый,2190,0.99,1100,0,,0,0.99,2190,"ООО ""Поставщик"""
10914,00005,Черный,2190,0.99,1100,0,,0,0.99,2190,"ООО ""Поставщик"""

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,...,Итого,firstprice,firstadd,cogs_y,sal,addsale,sale,curadd,currentpr,provider
0,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,0.0,1490,1.87,520,-0.5,,1,0.44,749,"ООО ""Эс энд Эй"", Саида"
1,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,1WPT/006662,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,...,0.0,1490,1.87,520,-0.5,,1,0.44,749,"ООО ""Эс энд Эй"""
2,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_079,...,308.0,3290,1.96,1112,0,0,0,1.96,3290,"Баярма, ФАСТ ИМПОРТ ООО"
3,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,1WPT/007501,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_080,...,306.0,3290,1.96,1112,0,,0,1.96,3290,"Баярма, ФАСТ ИМПОРТ ООО"
4,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,1WPT/007289,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,...,0.0,1990,1.58,770,-0.5,,1,0.3,999,"ООО ""Эс энд Эй"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,49.0,290,1.71,107,0,-0.07,0,1.71,290,Баярма
2290,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,182.0,290,1.71,107,0,-0.06,0,1.71,290,Баярма
2291,Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,3АOH/000054,ЦБ-00003458,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_079,...,125.0,290,1.71,107,0,-0.11,0,1.71,290,Баярма
2292,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,150.0,0,-1,85,,,0,,,Баярма
2293,Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,3АOH/000099,ЦБ-00003503,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",,...,150.0,0,-1,85,,,0,,,Баярма

'OK'

,group1,subgroup1,category1,subcategory1,modelname,foto,colorcode,colorname1,fullmodelcode,model_id,...,firstprice,firstadd,cogs_y,sal,addsale,sale,curadd,currentpr,provider,index
0,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,Белый,1WPT/006662,ЦБ-00001420,...,1490,1.87,520,-0.5,,1,0.44,749,"ООО ""Эс энд Эй"", Саида",0
1,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,Белый,1WPT/006662,ЦБ-00001420,...,1490,1.87,520,-0.5,,1,0.44,749,"ООО ""Эс энд Эй""",1
2,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,Бежевый,1WPT/007501,ЦБ-00002379,...,3290,1.96,1112,0,0,0,1.96,3290,"Баярма, ФАСТ ИМПОРТ ООО",2
3,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,Черный,1WPT/007501,ЦБ-00002379,...,3290,1.96,1112,0,,0,1.96,3290,"Баярма, ФАСТ ИМПОРТ ООО",3
4,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,Серый,1WPT/007289,ЦБ-00002162,...,1990,1.58,770,-0.5,,1,0.3,999,"ООО ""Эс энд Эй""",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,Светло-бежевый,3АOH/000054,ЦБ-00003458,...,290,1.71,107,0,-0.07,0,1.71,290,Баярма,2289
2290,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,Серый,3АOH/000054,ЦБ-00003458,...,290,1.71,107,0,-0.06,0,1.71,290,Баярма,2290
2291,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,Темно-серый,3АOH/000054,ЦБ-00003458,...,290,1.71,107,0,-0.11,0,1.71,290,Баярма,2291
2292,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,Белый,3АOH/000099,ЦБ-00003503,...,0,-1,85,,,0,,,Баярма,2292
2293,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,Черный,3АOH/000099,ЦБ-00003503,...,0,-1,85,,,0,,,Баярма,2293

['group1',
 'subgroup1',
 'category1',
 'subcategory1',
 'modelname',
 'foto',
 'colorcode',
 'colorname1',
 'fullmodelcode',
 'model_id',
 'subcategory',
 'category',
 'subgroup',
 'group',
 'status',
 'season',
 'service',
 'provider1',
 'first_date',
 'cm',
 'codes',
 'Фотосессия 21-66',
 'Фотосессия 21-67',
 'Фотосессия 21-68',
 'Фотосессия 21-69',
 'Фотосессия 21-70',
 'Фотосессия 21-71',
 'Фотосессия 21-72',
 'Фотосессия 21-73',
 'Фотосессия 21-74',
 'Фотосессия 21-75',
 'Фотосессия 21-76',
 'Фотосессия 21-77',
 'Фотосессия 21-78',
 'Фотосессия 21-79',
 'Фотосессия 21-80',
 'received',
 'received_in_cogs',
 'sales',
 'sales_in_cogs',
 'realization',
 'days0',
 'speed_of_sales',
 'amount',
 'margin',
 'was_in_sale',
 'stocks',
 'cogs_x',
 'stock_in_cogs',
 'roa',
 'roa1',
 'roa2',
 'days_w',
 'sales_w',
 'speed_of_sales_w',
 'cover_w',
 '2_a',
 'Москва, Долгоруковская, 40.',
 '0_a',
 'Зал Долгоруковская, 40',
 'Мск склад Новослободская',
 'Склад "Единички" Москва, Долгоруковская, 40',
 'Транзит Москва - Новослободская',
 'Транзит Б.Дорогомиловская - Долгоруковская',
 'Новая Коллекция Долгоруковская, 40',
 '1_a',
 'Ремонт Москва, Долгоруковская, 40',
 'Стирка Долгоруковская, 40',
 'Брак Москва, Долгоруковская, 40',
 '2_b',
 'Москва, Большая Дорогомиловская, д.8',
 '0_b',
 'Зал продаж Большая Дорогомиловская, 8',
 'Склад Большая Дорогомиловская, 8',
 'Склад "Единички" Большая Дорогомиловская, 8',
 'Транзит Москва - Дорогомиловская',
 'Транзит Долгоруковская - Б.Дорогомиловская',
 'Новая Коллекция Большая Дорогомиловская, 8',
 '1_b',
 'Ремонт Большая Дорогомиловская, 8',
 'Стирка Большая Дорогомиловская, 8',
 'Брак Большая Дорогомиловская, 8',
 '2_c',
 'Спб',
 '0_c',
 'Склад Спб, распред.',
 'Склад "Нижний" Спб, Фурштатская, 42',
 'Транзит Москва - Питер Спб, распред.',
 'Зал продаж Спб, Фурштатская, 42',
 'Склад Спб, Фурштатская, 42',
 'Склад "Единички" Спб, Фурштатская, 42',
 'Транзит Москва - Фурштатская',
 'Транзит Казань - Питер',
 'Склад Новая Коллекция Спб, Фурштатская, 42',
 'Сезон Хранение Спб, распред.',
 '1_c',
 'Ремонт Спб, Фурштатская, 42',
 'Стирка Спб, Фурштатская, 42',
 'Брак Спб, Фурштатская, 42',
 '2_d',
 'Интернет магазин "Look Online"',
 '0_d',
 'Склад Интернет магазин Яковлев',
 'Транзит Москва - ИМ',
 '1_d',
 'Зал продаж Интернет магазин Яковлев',
 'Стирка Интернет магазин Яковлев',
 'Ремонт Интернет магазин Яковлев',
 'Брак Интернет магазин Яковлев',
 '2_e',
 'Основной магазин',
 '0_e',
 'Мск Склад ответ хранение  Новый',
 'Мск Сезонное хранениеНовый',
 'Транзит Казань - Москва Новый',
 'Транзит Питер - Москва',
 'Транзит Новослободская - Москва',
 'Транзит Дорогомиловская - Москва',
 'Транзит ИМ - Москва',
 'Мск Контент склад Новый',
 'Фотосессия2',
 'Мск на фотосессии Новый',
 'Склад Sale центральный склад',
 'Ответ Хран Нью Лайн',
 'Склад поступлений ИП Шестаков',
 'Склад поступлений ИП Козлов',
 '1_e',
 'Склад списания',
 'Мск Ремонт Новый',
 'Мск Брак Новый',
 'Товары для Киевской',
 'Товары для Фурштатская',
 '2_f',
 'Китай',
 '0_f',
 'Казань, Проспект Победы, 33',
 '0_g',
 'Зал продаж Казань, Проспект Победы, 33',
 'Зал продаж - обувь Казань, Проспект Победы, 33',
 'Склад Казань, Проспект Победы, 33',
 'Склад Лето Сезон ХранКазань, Проспект Победы, 33',
 'Сезонное хранение Казань, Проспект Победы, 33',
 'Склад "Единички" Казань, Проспект Победы, 33',
 'Транзит Москва - Казань Новый',
 'Транзит Питер - Казань',
 'Новая Коллекция Казань, Проспект Победы, 33',
 'Склад Sale Казань, Проспект Победы, 33',
 '1_g',
 'Транзит Брак Москва - Казань',
 'Уценка Казань, Проспект Победы, 33',
 'Стирка Казань, Проспект Победы, 33',
 'Ремонт Казань, Проспект Победы, 33',
 '2_h',
 'Казань, Декабристов, 8',
 '0_h',
 'Зал продаж Казань, Декабристов, 8',
 'Зал продаж - обувь Казань, Декабристов, 8',
 'Сезонное хранение Казань, Декабристов, 8',
 'Склад Казань, Декабристов, 8',
 'Склад Лето Сезон ХранКазань, Декабристов, 8',
 'Новая Коллекция Казань, Декабристов, 8',
 'Склад "Единички" Казань, Декабристов, 8',
 '1_h',
 'Ремонт Казань, Декабристов, 8',
 '2_i',
 'Маркетплейсы',
 '0_i',
 'Склад wildberries',
 'Подсорт "Wildberries"',
 '1_i',
 'Итого',
 'firstprice',
 'firstadd',
 'cogs_y',
 'sal',
 'addsale',
 'sale',
 'curadd',
 'currentpr',
 'provider',
 'index']

,group1,subgroup1,category1,subcategory1,modelname,Картинка,Код цвета,Цвет,Полный код,Код,...,Первоначальная РЦ,Первоначальная наценка,Себестоимость,Скидка,Скидка накопленная,sale,Текущая наценка в процентах,Текущая РЦ,provider,index
0,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,Белый,1WPT/006662,ЦБ-00001420,...,1490.0,1.87,520.0,-0.5,NaN,1.0,0.44,749.0,"ООО ""Эс энд Эй"", Саида",0
1,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки белые,dedd7f69-b6e4-11ea-9107-7085c281e0ea,100,Белый,1WPT/006662,ЦБ-00001420,...,1490.0,1.87,520.0,-0.5,NaN,1.0,0.44,749.0,"ООО ""Эс энд Эй""",1
2,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,700,Бежевый,1WPT/007501,ЦБ-00002379,...,3290.0,1.96,1112.0,0.0,0.00,0.0,1.96,3290.0,"Баярма, ФАСТ ИМПОРТ ООО",2
3,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки классика с 2мя карманами,cfaa4bc6-648e-11eb-9111-7085c281e0ea,999,Черный,1WPT/007501,ЦБ-00002379,...,3290.0,1.96,1112.0,0.0,NaN,0.0,1.96,3290.0,"Баярма, ФАСТ ИМПОРТ ООО",3
4,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Брюки клеш база,5043cead-3559-11eb-9110-7085c281e0ea,910,Серый,1WPT/007289,ЦБ-00002162,...,1990.0,1.58,770.0,-0.5,NaN,1.0,0.30,999.0,"ООО ""Эс энд Эй""",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,711,Светло-бежевый,3АOH/000054,ЦБ-00003458,...,290.0,1.71,107.0,0.0,-0.07,0.0,1.71,290.0,Баярма,2289
2290,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,910,Серый,3АOH/000054,ЦБ-00003458,...,290.0,1.71,107.0,0.0,-0.06,0.0,1.71,290.0,Баярма,2290
2291,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки однотонные,b11e93c0-205c-11ec-9118-7085c281e0ea,919,Темно-серый,3АOH/000054,ЦБ-00003458,...,290.0,1.71,107.0,0.0,-0.11,0.0,1.71,290.0,Баярма,2291
2292,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,100,Белый,3АOH/000099,ЦБ-00003503,...,0.0,-1.00,85.0,NaN,NaN,0.0,NaN,NaN,Баярма,2292
2293,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Носки с широкими полосками 2,421649b8-275c-11ec-9118-7085c281e0ea,999,Черный,3АOH/000099,ЦБ-00003503,...,0.0,-1.00,85.0,NaN,NaN,0.0,NaN,NaN,Баярма,2293

['group1',
 'subgroup1',
 'category1',
 'subcategory1',
 'modelname',
 'Картинка',
 'Код цвета',
 'Цвет',
 'Полный код',
 'Код',
 'Подкатегория',
 'Категория',
 'Подгруппа',
 'Группа',
 'Статус',
 'Сезон',
 'Служебный',
 'Поставщик',
 'Дата входа',
 'ЦМ',
 'ЦРМ в ЦМ',
 'Фотосессия 21-66',
 'Фотосессия 21-67',
 'Фотосессия 21-68',
 'Фотосессия 21-69',
 'Фотосессия 21-70',
 'Фотосессия 21-71',
 'Фотосессия 21-72',
 'Фотосессия 21-73',
 'Фотосессия 21-74',
 'Фотосессия 21-75',
 'Фотосессия 21-76',
 'Фотосессия 21-77',
 'Фотосессия 21-78',
 'Фотосессия 21-79',
 'Фотосессия 21-80',
 'Получено, шт',
 'Получено, себ',
 'Продажи, шт',
 'Продажи, себ.',
 'Процент  реализации',
 'Кол-во дней в продаже',
 'Скорость продаж',
 'Выручка, руб',
 'Маржа, руб',
 'Был в продаже',
 'Остаток, шт',
 'cogs_x',
 'Остаток, себ',
 'ROA',
 'Товара в целом',
 'Категории',
 'Дней в продаже за неделю',
 'Продаж в неделю',
 'Скорость продаж в неделю',
 'Покрытие',
 '2_a',
 'Москва, Долгоруковская, 40.',
 '0_a',
 'Зал Долгоруковская, 40',
 'Мск склад Новослободская',
 'Склад "Единички" Москва, Долгоруковская, 40',
 'Транзит Москва - Новослободская',
 'Транзит Б.Дорогомиловская - Долгоруковская',
 'Новая Коллекция Долгоруковская, 40',
 '1_a',
 'Ремонт Москва, Долгоруковская, 40',
 'Стирка Долгоруковская, 40',
 'Брак Москва, Долгоруковская, 40',
 '2_b',
 'Москва, Большая Дорогомиловская, д.8',
 '0_b',
 'Зал продаж Большая Дорогомиловская, 8',
 'Склад Большая Дорогомиловская, 8',
 'Склад "Единички" Большая Дорогомиловская, 8',
 'Транзит Москва - Дорогомиловская',
 'Транзит Долгоруковская - Б.Дорогомиловская',
 'Новая Коллекция Большая Дорогомиловская, 8',
 '1_b',
 'Ремонт Большая Дорогомиловская, 8',
 'Стирка Большая Дорогомиловская, 8',
 'Брак Большая Дорогомиловская, 8',
 '2_c',
 'Спб',
 '0_c',
 'Склад Спб, распред.',
 'Склад "Нижний" Спб, Фурштатская, 42',
 'Транзит Москва - Питер Спб, распред.',
 'Зал продаж Спб, Фурштатская, 42',
 'Склад Спб, Фурштатская, 42',
 'Склад "Единички" Спб, Фурштатская, 42',
 'Транзит Москва - Фурштатская',
 'Транзит Казань - Питер',
 'Склад Новая Коллекция Спб, Фурштатская, 42',
 'Сезон Хранение Спб, распред.',
 '1_c',
 'Ремонт Спб, Фурштатская, 42',
 'Стирка Спб, Фурштатская, 42',
 'Брак Спб, Фурштатская, 42',
 '2_d',
 'Интернет магазин "Look Online"',
 '0_d',
 'Склад Интернет магазин Яковлев',
 'Транзит Москва - ИМ',
 '1_d',
 'Зал продаж Интернет магазин Яковлев',
 'Стирка Интернет магазин Яковлев',
 'Ремонт Интернет магазин Яковлев',
 'Брак Интернет магазин Яковлев',
 '2_e',
 'Основной магазин',
 '0_e',
 'Мск Склад ответ хранение  Новый',
 'Мск Сезонное хранениеНовый',
 'Транзит Казань - Москва Новый',
 'Транзит Питер - Москва',
 'Транзит Новослободская - Москва',
 'Транзит Дорогомиловская - Москва',
 'Транзит ИМ - Москва',
 'Мск Контент склад Новый',
 'Фотосессия2',
 'Мск на фотосессии Новый',
 'Склад Sale центральный склад',
 'Ответ Хран Нью Лайн',
 'Склад поступлений ИП Шестаков',
 'Склад поступлений ИП Козлов',
 '1_e',
 'Склад списания',
 'Мск Ремонт Новый',
 'Мск Брак Новый',
 'Товары для Киевской',
 'Товары для Фурштатская',
 '2_f',
 'Китай',
 '0_f',
 'Казань, Проспект Победы, 33',
 '0_g',
 'Зал продаж Казань, Проспект Победы, 33',
 'Зал продаж - обувь Казань, Проспект Победы, 33',
 'Склад Казань, Проспект Победы, 33',
 'Склад Лето Сезон ХранКазань, Проспект Победы, 33',
 'Сезонное хранение Казань, Проспект Победы, 33',
 'Склад "Единички" Казань, Проспект Победы, 33',
 'Транзит Москва - Казань Новый',
 'Транзит Питер - Казань',
 'Новая Коллекция Казань, Проспект Победы, 33',
 'Склад Sale Казань, Проспект Победы, 33',
 '1_g',
 'Транзит Брак Москва - Казань',
 'Уценка Казань, Проспект Победы, 33',
 'Стирка Казань, Проспект Победы, 33',
 'Ремонт Казань, Проспект Победы, 33',
 '2_h',
 'Казань, Декабристов, 8',
 '0_h',
 'Зал продаж Казань, Декабристов, 8',
 'Зал продаж - обувь Казань, Декабристов, 8',
 'Сезонное хранение Казань, Декабристов, 8',
 'Склад Казань, Декабристов, 8',
 'Склад Лето Сезон ХранКазань, Декабристов, 8',
 'Новая Коллекция Казань, Декабристов, 8',
 'Склад "Единички" Казань, Декабристов, 8',
 '1_h',
 'Ремонт Казань, Декабристов, 8',
 '2_i',
 'Маркетплейсы',
 '0_i',
 'Склад wildberries',
 'Подсорт "Wildberries"',
 '1_i',
 'Итого',
 'Первоначальная РЦ',
 'Первоначальная наценка',
 'Себестоимость',
 'Скидка',
 'Скидка накопленная',
 'sale',
 'Текущая наценка в процентах',
 'Текущая РЦ',
 'provider',
 'index']

0      0.0
1      0.0
2      3.0
3      0.0
4      0.0
      ...
95     0.0
96    19.0
97    38.0
98     0.0
99     1.0
Name: Продажи, шт, Length: 100, dtype: float64

'OK'